header div#chamado h1 {
    font-size: 350%;
}

header div#chamado h4 {
    font-size: 200%;
    margin-bottom: 25px;
}

header div#chamada a {
    border-radius: 0;
    font-size: 200%;
}

h2 {
    font-size: 250%;
}

nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
}

nav ul#esquerda, nav ul#direita {
    display: none;
    position: absolute;
    top: 40px;
    right: 30px;
}

nav ul#direita {
    top: 194px;
}

nav ul#icone-menu-mobile {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    display: block;
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0;
}

nav ul li a, nav ul li a#criar-conta {
    display: block;
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0;
    border: none;
    font-size: 80%;
}

div#pontos-chaves-mestre {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

div.pontos-chaves {
    width: 80%;
    margin-bottom: 40px;
}

div.pontos-chaves p {
    font-size: 115%;
    font-weight: 300;
    line-height: 2rem;
}

div#testemunha-centro {
    width: 340px;
}

section#testemunha div#testemunha-centro div#testemunhos ul p {
    font-size: 115%;
    font-weight: 300;
}

section#plano-principal {
    height: inherit;
}

div#planos-janela {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

div.planos {
    width: 290px;
    margin: 30px;
}

footer div#mapa {
    display: none;

}

footer div#info {
    width: 95%;
    
}