

nav {
    width: 95%;
    height: 200px;
    margin: 10px auto;

}

header {
    position: relative;
    text-transform: uppercase;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0)), url("../img/secao08-background-capa.jpg") center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    border-top: 5px solid #078C31;

    clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
}

.logo {
    background: url("../img/secao08-logo-pizzaria-fontenelle.png") no-repeat center center;
    background-size: contain;
    width: 200px;
    height: 200px;
    float: left;
    
    
}

.nav-esquerda {

    float: left;
}

.nav-direita {  
    float: right;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-top: 70px;
    height: 40px;
    list-style: none;
}


nav ul li a {
    color: #FFF;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 100px;
    font-size: 80%;
    
}

.criar-conta {
    border: 1px solid #FFF;
    padding: 9px 29px;
}

nav ul li a:hover {
    background-color: #F2B705;
    transition-duration: 0.8s;

}

.icon-user {
    
    color: #FFF;
    margin: -3px 0 0 20px;
}

.chamado {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.btn-center {
    text-align: center;
}

.btn-escolher {
    display: inline-block;
    margin-top: 20px;
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 110%;
    padding: 20px 80px;
    border-radius: 50px;
    background: #078C31;    
    background: linear-gradient(rgba(7,140,49,55), rgba(6,89,2,5) 40%, rgba(6,89,2,35) 100%);
    animation-name: HeaderA-moverParaDireita ;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

.domingo-perfeito {
    width: 100%;
    padding: 40px 0 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.domingo-perfeito-esq{
    position: relative;
    width: 15%;
    
}

.domingo-perfeito-dir {
    position: relative;
    width: 15%;
} 

.domingo-perfeito-center {
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;    
    align-items: center;
    
    
}

.pontos-chaves-mestre {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.pontos-chaves {
    text-align: center;
    width: 25%;
    
}

.pontos-chaves h4 {
    color: #404040;
}

.pontos-chaves h4:after {
    display: block;
    background-color: #078C31;
    height: 5px;
    width: 30%;
    margin: 20px auto 10px;
    content: " ";
}

.folha1 {
     position: absolute;
     top: 40px;
     left: 40px;
     width: 150px;
     height: 150px;
     background: url("../img/secao09-folha1.png") no-repeat;     
     opacity: 0;
}

.camarao {
    position: absolute;
    top: 250px;
    left: 0;
    height: 150px;
    height: 150px;
    background: url("../img/camarao.jpg") no-repeat;    
    background-color: #F2B705;
    opacity: 0;
}

.folha2 {
    position: absolute;
    top: 500px;
    left: 50px;
    width: 150px;
    height: 150px;
    background: url("../img/secao09-folha2.png");      
    opacity: 0;
}

.folha3 {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 160px;
    height: 150px;
    background: url("../img/secao09-folha3.png") no-repeat;      
    opacity: 0;
}

.tomate {
    position: absolute;
    top: 300px;
    left: 100px;
    width: 160px;
    height: 150px;
    background: url("../img/secao09-tomate.png") no-repeat;      
    opacity: 0;
}

.queijo {
    position: absolute;
    top: 500px;
    left: 10px;
    width: 160px;
    height: 150px;
    background: url("../img/secao09-queijo.jpg") no-repeat;      
    opacity: 0;
}

.pizza {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url("../img/secao10-background-secao-pizza.jpg") no-repeat ;
    background-size: cover;
    padding: 40px 0 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    
}

.pizza-opcoes-mestre {
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;

}

.pizza-opcoes {
    width: 33.33%;
    text-align: center;
    margin: 5px 0 ;
}

.testemunha {
    width: 100%;    
    padding: 40px 0 80px;
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.8), rgba(255,255,255,1)), url("../img/secao11-background-secao-depoimento.png");
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
   

}

.testemunha-mestre {
    width: 100%;
    height: 300px;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.testemunha-esquerda, .testemunha-direita {
    width: 15%;
    height: 300px;
    cursor: pointer;
    
}

.testemunha-centro {
    width: 70%;
    margin: 0 auto;
    height: 300px;
    position: relative;
    max-width: 1010px;
    overflow: hidden;
}

.testemunhos {
    position: absolute;
    left: 0;
    width: 2680px;

}

.testemunhos ul {
   display: inline-table;
   width: 300px;
   background: #FFF;
   padding: 30px;
   margin: 50px 15px;
   border-radius: 20px;
   border: 1px solid #ccc; 
   text-align: center;
}

.testemunhos ul li {
    list-style: none;
    display: inline-table;
    width: 90%;
    margin: 0;
}

.testemunhos ul h5 {

}

.testemunhos ul p {
    line-height: 1.5;
    color: #404040;
    font-size: 90%;
}

.testemunhos ul img {
    width: 40%;
    border-radius: 100%;
    margin-top: -80px;
    border: 5px solid #F03733;
}

.transicao-testemunha-plana {
    width: 100%;
    height: 280px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

.decoracao1 {
   width: 30%;
   height: 100%; 
   background: url("../img/secao13-tomate-manjericao-alho.jpg") no-repeat top center;
}

.decoracao2 {
   width: 30%;
   height: 100%; 
   background: url("../img/secao13-azeite.jpg") no-repeat top center;
}

.decoracao3 {
    width: 30%;
    height: 100%; 
    background: url("../img/secao13-detalhe-tomate.jpg") no-repeat top center;
}

.plano-principal {
    width: 100%;
    padding: 40px 0 80px;

}

.planos-janela {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.planos {
    width: 250px;
    height: 450px;
    margin: 80px 30px;
}

.planos-top {
    width: 250px;
    height: 350px;
    background-color: #f7f7f7;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    box-shadow: 2px 2px 3px #ccc;
}

.planos-bottom {
    width: 250px;
    height: 100px;
    background-color: #078C31 ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px ;
    box-shadow: 2px 2px 3px #ccc;
}

.plano-principal h4 {
    color: #D90404;
}

.plano-principal ul {
    margin-top: 25px;
}

.plano-principal ul li {
    font-size: 85%;
    text-align: left;
    margin-left: 30px;
    line-height: 2;
    text-decoration: none;
}

.planos-bottom p {
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    cursor: pointer;
}

.transicao-plano-rodape {
    width: 100%;
    height: 36px;
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.5)), url("../img/secao15-mesa-xadrez-clara.png") repeat-x;
    margin-top: 50px;
}

footer {
    padding: 36px 0 0 36px;
    width: 100%;
    height: 500px;
    background: url("../img/secao15-mesa-xadrez.png");
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 10px solid #F03733;
}

.mapa {
    width: 35%;
    height: 390px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 3px 10px #404040;
}

.info {
    width: 30%;
    height: 390px;
    background-color: #F03733;
    box-shadow: 0 3px 10px #404040;
}

.redes-sociais {
    width: 100%;
    height: 70px;
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.pizza-rodape-decoracao {
    width: 300px;
    height: 390px;
    background: url("../img/secao15-pizza-rodape.png") no-repeat;
}

/* RESPONSIVO TABLET */

