
nav {
    width: 95%;
    height: 200px;
    margin: 10px auto;

}

header {
    position: relative;
    text-transform: uppercase;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0)), url("../img/secao08-background-capa.jpg") center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    border-top: 5px solid #078C31;

    clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
}

.logo {
    background: url("../img/secao08-logo-pizzaria-fontenelle.png") no-repeat center center;
    background-size: contain;
    width: 200px;
    height: 200px;
    float: left;
    
    
}

.nav-esquerda {

    float: left;
}

.nav-direita {  
    float: right;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-top: 70px;
    height: 40px;
    list-style: none;
}


nav ul li a {
    color: #FFF;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 100px;
    font-size: 80%;
    
}

.criar-conta {
    border: 1px solid #FFF;
    padding: 9px 29px;
}

nav ul li a:hover {
    background-color: #F2B705;
    transition-duration: 0.8s;

}

.icon-user {
    
    color: #FFF;
    margin: -3px 0 0 20px;
}

.chamado {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.btn-center {
    text-align: center;
}

.btn-escolher {
    display: inline-block;
    margin-top: 20px;
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 110%;
    padding: 20px 80px;
    border-radius: 50px;
    background: #078C31;    
    background: linear-gradient(rgba(7,140,49,55), rgba(6,89,2,5) 40%, rgba(6,89,2,35) 100%);

}

.domingo-perfeito {
    width: 100%;
    padding: 40px 0 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.domingo-perfeito-esq{
    position: relative;
    width: 15%;
    
}

.domingo-perfeito-dir {
    position: relative;
    width: 15%;
} 

.domingo-perfeito-center {
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;    
    align-items: center;
    
    
}

.pontos-chaves-mestre {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.pontos-chaves {
    text-align: center;
    width: 25%;
    
}

.pontos-chaves h4 {
    color: #404040;
}

.pontos-chaves h4:after {
    display: block;
    background-color: #078C31;
    height: 5px;
    width: 30%;
    margin: 20px auto 10px;
    content: " ";
}

.folha1 {
     position: absolute;
     top: 40px;
     left: 40px;
     width: 150px;
     height: 150px;
     background: url("../img/secao09-folha1.png") no-repeat;     
}

.camarao {
    position: absolute;
    top: 250px;
    left: 0;
    height: 150px;
    height: 150px;
    background: url("../img/camarao.jpg") no-repeat;    
    background-color: #F2B705;
}

.folha2 {
    position: absolute;
    top: 500px;
    left: 50px;
    width: 150px;
    height: 150px;
    background: url("../img/secao09-folha2.png");      
    
}

.folha3 {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 160px;
    height: 150px;
    background: url("../img/secao09-folha3.png") no-repeat;      
}

.tomate {
    position: absolute;
    top: 300px;
    left: 100px;
    width: 160px;
    height: 150px;
    background: url("../img/secao09-tomate.png") no-repeat;      
}

.queijo {
    position: absolute;
    top: 500px;
    left: 10px;
    width: 160px;
    height: 150px;
    background: url("../img/secao09-queijo.jpg") no-repeat;      
}

.pizza {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url("../img/secao10-background-secao-pizza.jpg") no-repeat ;
    background-size: cover;
    padding: 40px 0 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
}

.pizza-opcoes-mestre {
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;

}

.pizza-opcoes {
    width: 33.33%;
    text-align: center;
    margin: 5px 0 ;
}

.testemunha {
    width: 100%;
    height: 100%;
    padding: 40px 0 80px;
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.8), rgba(255,255,255,1)), url("../img/secao11-background-secao-depoimento.png");
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

}

.testemunha-mestre {
    width: 100%;
    height: 300px;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.testemunha-esquerda, .testemunha-direita {
    width: 15%;
    height: 300px;
    
}

.testemunha-centro {
    width: 70%;
    margin: 0 auto;
    height: 300px;
    position: relative;
    max-width: 1010px;
}

.testemunhos {
    position: absolute;
    left: 0;
    width: 2680px;

}

.testemunhos ul {
   display: inline-table;
   width: 300px;
   background: #FFF;
   padding: 30px;
   margin: 50px 15px;
   border-radius: 20px;
   border: 1px solid #ccc; 
   text-align: center;
}

.testemunhos ul li {
    list-style: none;
    display: inline-table;
    width: 90%;
    margin: 0;
}

.testemunhos ul h5 {

}

.testemunhos ul p {
    line-height: 1.5;
    color: #404040;
    font-size: 90%;
}

.testemunhos ul img {
    width: 40%;
    border-radius: 100%;
    margin-top: -80px;
    border: 5px solid #F03733;
}