* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html, body {
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    text-transform: uppercase;
    color: #D90404;
}

h4, h5, h6 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #F2B705;
}

h1 {
    font-size: 600%;
    font-weight: 200;

}

h2 {
    font-size: 400%;
    font-weight: 200;
}

h4 {
    font-size: 150%;
    font-weight: 150;
    padding: 20px 0;
}


p, li, a {
    font-family: 'Open Sans', sans-serif;
    color: #404040;
}

p.destaque {
    font-size: 130%;
    line-height: 1.8;
    font-weight: 300;
    text-align: center;
    margin: 40px 0;
    
}
.chamado h1 {
    color: #FFF;
    text-shadow: 4px 6px 12px #000;
}

.chamado h4 {
    font-size: 250%;
    text-shadow: 4px 6px 12px #000;
}
i {   
    color: #F03733;
}

.pizza .destaque {
    color: #FFF;
}

.pizza ul li {
    color: #FFF;
    list-style: none;
    line-height: 1.9;
    font-size: 90%;
    text-transform: uppercase;
}

.testemunha .destaque {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.7);
    
}

footer ul {
    margin-left: 15px;
}

footer li {
    list-style: none;
    color: #fff;
    margin-bottom: 5px;
}

footer i {
    color: #FFF;
}


